* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 9px 9px 21px 0px rgba(0, 0, 0, 0.65);
  max-width: 400px;
}

.card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card__image {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  border-radius: 10px;
}

.card__main {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 969px) {
  body {
    grid-template-columns: 1fr;
  }
}
